.card-img-top{
height: 14rem;
border-radius:0.8rem;
}

.cardtexto{
    font-weight: 600;
    font-size: x-small;
}

.card{
    
    border-radius: 0.8rem;
    box-shadow: 19px 15px 34px -4px rgba(0,0,0,0.28);
-webkit-box-shadow: 19px 15px 34px -4px rgba(0,0,0,0.28);
-moz-box-shadow: 19px 15px 34px -4px rgba(0,0,0,0.28)
}

.row{
    display: flex;
}
.col{
    justify-content: center;
}
button {
    padding: 0.8em 1.8em;
    border: 0px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
   }
   
   button::before {
    content: '';
    width: 0;
    height:400%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: #111;
   }
   

   #mensaje-flotante {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgb(255, 238, 6);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  