
body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.navbar{
    background-color: #004d7a;

}
.navbar-brand{
    font-weight: 700;
    font-size: 2em;
    color: #fff;
}

.nav-link, .dropdown-item,.nav-link{
    font-size: 1.8em;
    color: #fff;
   
}

.dropdown-menu{
    background-color: #004d7a;
}
.dropdown-item{
    margin: 0.2rem;

}

li{
    margin: 1.5rem
}
.btn {
    width: 15rem;
    border-radius: 0.5rem;
}

.dropdown-menu{
    border-radius: 1rem;
}